<div class="list-group friend-list">

    <% current_user.all_friends.each do |friend| %>

        <% if friend == current_user %>
            <%= link_to  "Mis publicaciones", root_path(id: friend.id), class: "list-group-item list-group-item-action" %>
        <% else %>
            <%= link_to  "#{friend.name}", root_path(id: friend.id), class: "list-group-item list-group-item-action" %>
        <% end %>
    
    <% end %>

</div>