<% unless params[:explore] %>
    <%= render 'new', post: @post %>
<% end %>

<% if @posts.length < 1 %>

    <div class="text-center mt-5">
        <h1>No hay publicaciones aún</h1>
        <p>Sé el primero!</p>
    </div>
    
<% else %>
    
    <div class="row my-3">

        <div class="col-md-3">
            <%= render 'shared/friends' %>
        </div>

        <div class="col-md-6">

            <% @posts.each do |post| %>
                <%= render 'shared/card', post: post %>            
            <% end %>

        </div>    
    </div>

<% end %>

